<router-outlet />
<app-header></app-header>

@if (this.settingsService.getSelectedTile() !== null) {
  @if (this.settingsService.getSelectedTile() === "sliding-puzzle" || this.settingsService.getSelectedTile() === "sp") {
    <app-sliding-puzzle></app-sliding-puzzle>
  }
  @if (this.settingsService.getSelectedTile() === "rack-em-up" || this.settingsService.getSelectedTile() === "reu") {
     <app-rack-em-up></app-rack-em-up>
  }
}

@if (this.settingsService.getSelectedTile() === null) {
  <app-tile-grid></app-tile-grid>
}
